@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #d9afd9;
  background-image: linear-gradient(0deg, #d9afd9 0%, #97d9e1 100%);
  background-repeat: no-repeat;
}

h1 {
  margin-top: 20px;
}

.content {
  margin: auto;
  width: 80%;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.bttn {
  width: 160px;
  height: 32px;
  background-color: #90ee90;
  border: 1px solid #90ee90;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.bttn:hover {
  cursor: pointer;
  border: 1px solid black;
}

.input-text {
  width: 160px;
  height: 26px;
  border: none;
  border-bottom: 1px solid black;
  background-color: transparent;
}

.input-text:focus {
  outline: none;
}

.card {
  border-radius: 10px;
  box-shadow: 10px 10px 8px #888888;
  padding: 30px 50px 30px 50px;
  background-color: white;
  margin-top: 20px;
}

.insert-model h2,
.insert-laptop h2 {
  margin-bottom: 30px;
}

.flex-form {
  gap: 20px;
}

#fetch {
  display: none;
}

.table th,
.table td {
  width: 150px;
  text-align: left;
}

.table tr {
  height: 30px;
}

.btn-t {
  text-decoration: none;
  color: white;
  border-radius: 4px;
  padding: 5px;
}

.btn-t:hover {
  color: black;
}

#read {
  background-color: #2e8b57;
}

#delete {
  background-color: #800000;
}

#edit {
  background-color: #b8860b;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: start;
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  gap: 5px;
}

#result-laptop {
  margin-top: 20px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: white;
  margin: auto;
  padding: 20px 30px;
  border-radius: 10px;
  width: 50%;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#modal-read h2 {
  text-align: center;
  margin-bottom: 20px;
}
